<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Meteo_API</title>
    <meta
      name="description"
      content="Un simple interfaz gráfico de usuario para consultar datos metereológicos."
    />
    <meta name="author" content="Juan Murua Olalde" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h1>Consulta de datos metereológicos</h1>
    </header>

    <main>
      <p>Este es un frontend para utilizar un par de servicios:</p>
      <ul>
        <li>
          <a href="https://openweathermap.org/api/geocoding-api" target="_blank"
            >https://openweathermap.org/api/geocoding-api</a
          >
        </li>
        <li>
          <a href="https://openweathermap.org/current" target="_blank"
            >https://openweathermap.org/current</a
          >
        </li>
      </ul>
      <div
        id="formularioDeGeolocalizacionYMetereologia"
        class="enmarcado_dentro_de_una_caja"
      >
        <p>
          <label for="poblacion:"
            >Población:
            <input type="text" id="poblacion" name="poblacion" required
          /></label>
        </p>
        <p>
          <label for="codigoPais"
            >Código de pais:
            <input
              type="text"
              pattern="[a-zA-Z][a-zA-Z]"
              value="ES"
              id="codigoPais"
              name="codigoPais"
              size="2"
              required
            />(2 letras)</label
          >
          <br /><a
            href="https://es.wikipedia.org/wiki/ISO_3166-1#C%C3%B3digos_oficialmente_asignados"
            target="_blank"
            >(consultar los códigos oficiales)</a
          >
        </p>
        <p>
          <input
            type="button"
            id="btnGeolocalizacionYMetereologia"
            onclick="ObtenerCoordenadasYMetereologia()"
            value="Obtener coordenadas y metereologia"
          />
        </p>
      </div>
      <div id="contenedorRespuestaAPI"></div>
    </main>

    <hr />
    <nav>
      <a href="/ultimasConsultas-conApi">Historico de últimas consultas</a>
    </nav>

    <script src="PaginaPrincipal_conAPI.js"></script>
  </body>
</html>
