<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Historico -página completa-</title>
    <meta
      name="description"
      content="Los últimos partes metereologicos. Histórico de consultas realizadas."
    />
    <meta name="author" content="Juan Murua Olalde" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h1>Histórico de consultas realizadas</h1>
    </header>

    <main>
      <p>Se muestran hasta los 10 últimos registros.</p>
      <table>
        <thead>
          <tr>
            <td>Ubicacion</td>
            <td>Fecha</td>
            <td>Temperatura</td>
            <td>Humedad</td>
            <td>viento</td>
            <td>soplando hacia</td>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${ultimosPartesConsultados.empty}">
            <td colspan="6">No datos que mostrar</td>
          </tr>
          <tr th:each="parte : ${ultimosPartesConsultados}" th:inline="text">
            <td th:text="${parte.ubicacion}"></td>
            <td th:text="${parte.fecha}"></td>
            <td>[[${parte.temperatura_celsius}]] °C</td>
            <td>[[${parte.humedad_porcentual}]] %</td>
            <td>[[${parte.velocidadDelViento_ms}]] m/s</td>
            <td>[[${parte.orientacionDelViento_grados}]] °</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>

  <footer>
    <p>Esta es la versión en la que el servidor sirve la página completa.</p>
  </footer>

  <hr />
  <nav>
    <a href="/PaginaCompleta">Volver a la página principal</a>
  </nav>
</html>
